[submodule "godot"]
	path = godot
	url = https://github.com/godotengine/godot
[submodule "speech-recognition/sphinxbase"]
	path = speech-recognition/sphinxbase
	url = https://github.com/cmusphinx/sphinxbase
	ignore = untracked
[submodule "speech-recognition/pocketsphinx"]
	path = speech-recognition/pocketsphinx
	url = https://github.com/cmusphinx/pocketsphinx
	ignore = untracked
