[submodule "speech-recognition/lib/sphinxbase"]
	path = speech-recognition/lib/sphinxbase
	url = https://github.com/cmusphinx/sphinxbase
	ignore = untracked
[submodule "speech-recognition/lib/pocketsphinx"]
	path = speech-recognition/lib/pocketsphinx
	url = https://github.com/cmusphinx/pocketsphinx
	ignore = untracked
[submodule "speech-recognition/lib/kaldi"]
	path = speech-recognition/lib/kaldi
	url = https://github.com/kaldi-asr/kaldi
	ignore = untracked
[submodule "godot/engine"]
	path = godot/engine
	url = https://github.com/SamuraiSigma/godot.git
	branch = speech-to-text
[submodule "game/color-clutter"]
	path = game/color-clutter
	url = https://github.com/SamuraiSigma/color-clutter.git
[submodule "godot/docs"]
	path = godot/docs
	url = https://github.com/SamuraiSigma/godot-docs.git
	branch = speech-to-text
